.packs {
    padding: 50px 0;
}
  
.packs .contenedor {
    display: flex;
    justify-content: space-between;
    width: 75%;
    max-width: 1200px;
    margin: auto;
   
}

.packs article {
    width: 25%;
    text-align: center;
}

article img {
    width: 150px;
    height: 150px;
}
