$colorPrincipal: #CF0F57;
$blanco: #fff;
$fuenteTitulos: "Arial", "Helvetica", sans-serif;
$fuenteTextos: "Tahoma", sans-serif;
$tamanioTitulos: 2rem;



$social: (
    facebook: rgb(226, 226, 102),
    instagram:rgb(233, 233, 103),
    twitter: rgb(241, 241, 12),
    youtube: rgb(240, 240, 164),
);